{{ partial "header.html" . }}

<div class="row">
<div class="large-12 columns">
{{ partial "navigation.html" . }}
<p><img src="/images/banner.jpg" width="1000" height="400" /></p>
</div>
</div>


<div class="row">

<div class="large-9 columns" role="content">
<h3>{{ .Title }}</h3>
{{ .Content }}
</div>

<aside class="large-3 columns">
<h5>2016 Show Information</h5>
<ul class="side-nav">
<li><a href="/show/">Schedule</a></li>
<li><a href="/show/speakers/">Speakers</a></li>
<li><a href="/show/workshops/">Workshops</a></li>
<li><a href="/show/hotel-and-travel/">Hotel and Travel</a></li>
</ul>
<div class="panel">
<h5>Buy now!</h5>
<p>Divescapes is THE place to see top tier speakers and exhibitors, and to attend fun and educational seminars and workshops</p>
<a href="/tickets/">Tickets &rarr;</a>
</div>
</aside>

</div>

{{ partial "footer.html" . }}
