{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "slider.html" . }}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="eight columns">
			<h2>{{ .Title }}</h2>
		</div>
		<!-- <div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>About</li>
				</ul>
			</nav>
		</div> -->
	</div>
	<!-- 960 Container End -->

</div>
<!-- Page Title End -->

<!-- 960 Container -->
<div class="container">

	<!-- Standard Structure -->
	{{ if in .Params.tags "wide" }}{{ else }}<div class="eleven columns">{{ end }}
	{{ .Content }}
	{{ if in .Params.tags "wide" }}{{ else }}</div>{{ end }}

	{{ if in .Params.tags "wide" }}{{ else }}
	<div class="five columns">

		<h5>Show Info</h5>
			<ul style="margin-top:15px;" class="categories">
				<li><a href="/show/">Schedule</a></li>
				<li><a href="/show/speakers/">Speakers</a></li>
				<li><a href="/show/workshops/">Workshops</a></li>
				<li><a href="/show/hotel-and-travel/">Hotel and Travel</a></li>
			</ul>

		<h4 class="headline">Show Information</h4>
		<p>

		<!-- Large Notice -->
		<div class="large-notice">
			<h2>Buy Now</h2>
			<p>Divescapes is THE EVENT to see top tier speakers and exhibitors, and to attend fun and educational seminars and workshops.</p>
			<a href="/tickets/" class="button medium yellow">Tickets</a>
		</div>
		</p>
	</div>
	{{ end }}
	<!-- Standard Structure End -->
</div>
<!-- 960 Container End -->

{{ partial "footer.html" . }}
