{{ partial "header.html" . }}

<div class="row">
<div class="large-12 columns">
{{ partial "navigation.html" . }}
<p><img src="http://placehold.it/1000x400&text=[banner img]"/></p>
</div>
</div>


<div class="row">

<div class="large-9 columns" role="content">
<h3>{{ .Title }}</h3>
{{ .Content }}
</div>

<aside class="large-3 columns">
<h5>Categories</h5>
<ul class="side-nav">
<li><a href="#">News</a></li>
<li><a href="#">Code</a></li>
<li><a href="#">Design</a></li>
<li><a href="#">Fun</a></li>
<li><a href="#">Weasels</a></li>
</ul>
<div class="panel">
<h5>Featured</h5>
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
<a href="#">Read More &rarr;</a>
</div>
</aside>

</div>

{{ partial "footer.html" . }}
