
<!-- Footer Start -->
<div id="footer">

	<!-- 960 Container -->
	<div class="container">

		<!-- About -->
		<div class="five columns">
			<h5>About Us</h5>
			<p>Divescapes Canada's largest and best Scuba Diving Conference and Exhibition. Divescapes is held biannually in either Edmonton or Calgary by the <a href="http://www.albertaunderwatercouncil.com/">Alberta Underwater Council</a>.</p>
			<p>Divescapes is THE place to see top tier speakers and exhibitors, and to attend fun and educational seminars and workshops.</p>
		</div>

		<!-- Useful Links -->
		<div class="five columns">
			<h5>Useful Links</h5>
			<ul class="links-list">
				<li><a href="/">Home</a></li>
				<li><a href="/show/">Show Info</a></li>
				<li><a href="/tickets/">Ticket Info</a></li>
				<li><a href="/exhibitors/">Exhibitors</a></li>
				<li><a href="/sponsors/">Sponsors</a></li>
				<li><a href="/archives/2016/">Divescapes 2016</a></li>
			</ul>
		</div>

		<!-- Twitter -->
		<div class="six columns">
			<h5>Contact Us:</h5>
			<p>Cathie McCuaig, Executive Director<br/>
			Alberta Underwater Council<br/>
			11759 Groat Road (2nd Floor, Percy Page Centre)<br/>
			Edmonton, AB  T5M 3K6<br/>
			Office Hours: Mon-Fri 10am-4pm<br/>
			<strong style="color:#fff">Phone:</strong> <a href="tel:780-427-9125">780-427-9125</a><br/>
			<strong style="color:#fff">Toll Free:</strong> 888-307-8566<br/>
			<strong style="color:#fff">Fax:</strong> 780-427-8139<br/>
			<strong style="color:#fff">Email:</strong> <a href="mailto:info@albertaunderwatercouncil.com">info@albertaunderwatercouncil.com</a></p>
			<div class="clearfix"></div>
		</div>

	</div>
	<!-- 960 Container End -->

</div>
<!-- Footer End -->

<!--  Footer Copyright-->
<div id="footer-bottom">

	<!-- 960 Container -->
	<div class="container">

		<div class="eight columns">
			<div id="copyright">© Copyright 2017 by <span>Alberta Underwater Council</span>. All Rights Reserved.</div>
		</div>

		<div class="eight columns">
			<ul class="social-icons-footer">
				<li><a href="https://twitter.com/Divescapes" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/Divescapes/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			</ul>
		</div>

	</div>
	<!-- End 960 Container -->

</div>
<!--  Footer Copyright End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

<!-- Imagebox Build -->
<script src="/js/imagebox.build.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12346486-8', 'auto');
	ga('require', 'linkid');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
    mixpanel.track_links("#nav a", "click nav link", {
        "referrer": document.referrer
    });
</script>
</body>
</html>
