<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright <a href="/about/">Alberta Underwater Council</a> 2015</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
  <li><a href="/">Home</a></li>
  <li><a href="/show/">Show Info</a></li>
  <li><a href="/tickets/">Ticket Info</a></li>
  <li><a href="/exhibitors/">Exhibitors</a></li>
  <li><a href="/sponsors/">Sponsors</a></li>
</ul>
</div>
</div>
</div>
</footer>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
</body>
</html>
