<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
 ================================================== -->
<meta charset="utf-8">
<title> {{ .Title }} : Divescapes 2016</title>

<!-- Mobile Specific
 ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
 ================================================== -->
<link rel="stylesheet" type="text/css"  href="/css/style.css">

<!-- Java Script
 ================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/flexslider.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/ender.min.js"></script>
<script src="/js/selectnav.js"></script>
<script src="/js/imagebox.min.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/twitter.js"></script>
<script src="/js/tooltip.js"></script>
<script src="/js/popover.js"></script>
<script src="/js/layerslider.transitions.js"></script>
<script src="/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="/js/greensock.js"></script>
<script src="/js/ds.js"></script>

</head>
<body>
