<!-- Header -->
<div id="header">

	<!-- 960 Container Start -->
	<div class="container ie-dropdown-fix">

		<!-- Logo -->
		<div class="four columns">
			<div style="margin-top:15px;margin-bottom:15px;"><a href="/"><img src="/images/divescapes.png" alt="Divescapes Conference &amp; Exhibition - Dive into Adventure!"/></a></div>
		</div>

		<!-- Main Navigation Start -->
		<div class="twelve columns">
			<div id="navigation">
				<ul id="nav">

          <li><a href="/">Home</a></li>
          <li><a href="/show/">Show Info</a>
            <ul>
              <li><a href="/show/">Schedule</a></li>
              <li><a href="/show/speakers/">Speakers</a></li>
              <li><a href="/show/workshops/">Workshops</a></li>
              <li><a href="/show/hotel-and-travel/">Hotel and Travel</a></li>
							<li><a href="/about/">About the AUC</a></li>
            </ul>
          </li>
          <li><a href="/tickets/">Ticket Info</a></li>
          <li><a href="/exhibitors/">Exhibitors</a></li>
          <li><a href="/sponsors/">Sponsors</a></li>
          <li><a href="/archives/2014/">Divescapes 2014</a>
            <ul>
              <li><a href="/archives/2014/exhibitors/">Exhibitors</a></li>
              <li><a href="/archives/2014/speakers/">Speakers</a></li>
              <li><a href="/archives/2014/sponsors/">Sponsors</a></li>
              <li><a href="/archives/2014/workshops/">Workshops</a></li>
            </ul>
          </li>

				</ul>
			</div>
		</div>
		<!-- Main Navigation End -->

	</div>
	<!-- 960 Container End -->

</div>
<!-- End Header -->
