<!-- Slider -->
	<div id="full-slider-wrapper">
		<div id="layerslider" style="width:100%;height:450px;">

			<!-- Slide #1 -->
			<div class="ls-slide" data-ls="transition2d:1;timeshift:-400;">
				<img src="images/slider_bg_01.jpg" class="ls-bg" alt="Slide background"/>

				<h2 class="ls-l" style="top:115px; left:50px; white-space: nowrap; font-size: 26px;"
					data-ls="
					offsetxin: bottom;
					offsetxout: 0;
					offsetyin: 500;
					offsetyout: bottom;
					fadein: false;
					fadeout: false;
					easingin:  easeInOutCubic;
					easingout: easeinquart;
					durationin: 1000;
					delayin: 400;
					durationout:100;
					">
					Fast &amp; Flexible Premium <br> Theme You’ve Been Waiting For
				</h2>


				<p class="ls-l" style="top:203px; left:50px; text-align: justify; width:500px; line-height: 24px;"
					data-ls="
					offsetxin: bottom;
					offsetxout: 0;
					offsetyin: 500;
					offsetyout: bottom;
					fadein: false;
					fadeout: false;
					easingin: easeInOutCubic;
					easingout: easeinquart;
					durationin: 1000;
					delayin: 500;
					durationout:100;
					">
					Phasellus - ut augue at sapien bibendum bibendum amet magna. Aenean condimentum, lacus sit amet luctus lobortis, enim tellus ultrices elit, amet consequat enim elit noneas.
				</p>

				<div class="ls-l" style="top:295px; left:50px; white-space: nowrap;"
					data-ls="
					offsetxin: bottom;
					offsetxout: 0;
					offsetyin: 500;
					offsetyout: bottom;
					fadein: false;
					fadeout: false;
					easingin: easeInOutCubic;
					easingout: easeinquart;
					durationin: 1000;
					delayin: 600;
					durationout:100;
					">
						<a href="shortcodes.html" class="button medium yellow">Read More</a>
				</div>

				<img class="ls-l" style="left: 650px; top: 30px;" src="images/slider_img_02.png" alt="Image layer" data-ls="
					offsetxin: bottom;
					offsetxout: 0;
					offsetyin: 500;
					offsetyout: bottom;
					easingin: easeInOutCubic;
					durationin: 1200;
					durationout: 50;
					delayin: 200;
				">

			</div>


			<!-- Slide #2 -->
			<div class="ls-slide" data-ls="transition2d:73; timeshift:0;">
				<img src="images/slider_bg_02.png" class="ls-bg" alt="Slide background"/>

				<h2 class="ls-l" style="top:115px; left:50px; white-space: nowrap; font-size: 26px; color: #fff;"
					data-ls="
						offsetyin: 0;
						durationin: 2000;
						delayin: 0;
						easingin: easeOutElastic;
						durationout:1000;
						">
					Incredible: Responsive Theme <br> Perfect for Showing Your Products
				</h2>


				<p class="ls-l" style="top:203px; left:50px; text-align: justify; width:500px; line-height: 24px; color: #999"
					data-ls="
						offsetyin: 0;
						durationin: 2000;
						delayin:0;
						easingin: easeOutElastic;
						durationout:1000;
						">
					Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque dolor.
				</p>

				<div class="ls-l" style="top:295px; left:50px; white-space: nowrap;"
					data-ls="
						offsetyin: 0;
						durationin: 2000;
						delayin: 0;
						easingin: easeOutElastic;
						durationout:1000;
						">
					<a href="#" class="button medium yellow">Read More</a>
				</div>

				<div class="ls-l" style="left: 630px; top: 55px;" data-ls="
					offsetxin: bottom;
					offsetxout: 0;
					offsetyin: 500;
					offsetyout: bottom;
					fadein: false;
					fadeout: false;
					easingin: easeOutBack;
					easingout: easeinquart;
					durationin: 1000;
					delayin: 500;
					durationout:100;
					">
					<iframe src="http://player.vimeo.com/video/34234286?portrait=0&amp;color=2da0ce&autoplay=0" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>

			</div>

		</div>
	</div>
	<!-- End Slider -->
