{{ partial "header.html" . }}
<div class="row">
<div class="large-12 columns">
{{ partial "navigation.html" . }}
<p><img src="/images/banner.jpg" width="1000" height="400" /></p>
</div>
</div>


<div class="row">
<div class="large-8 columns">
<h4>Divescapes 2016</h4>
<p>Divescapes Canada's largest and best Scuba Diving Conference and Exhibition. Divescapes is held biannually in either Edmonton or Calgary by the <a href="/about/">Alberta Underwater Council</a>.</p>
<p>Divescapes is THE place to see top tier speakers and exhibitors, and to attend fun and educational seminars and workshops.</p>
<p>Divescapes has had some outstanding shows including 2012 and <a href="/archives/2014">2014 shows</a> in Edmonton, well we are working hard to bring you an even bigger and better show in 2016! New <a href="/show/speakers/">speakers</a> and new <a href="/exhibitors/">exhibitors</a> in a <a href="/show/hotel-and-travel/">great new venue</a>. 2016 is shaping up to be the best Divescapes yet! This is a show you won’t want to miss so <a href="/tickets/">book early as there are a limited number of tickets available!</a></p>
<p>Divescapes Conference mandate includes striving to promote safe &amp; environmentally responsible diving and provide all participants with the opportunity to partner with other industry organizations like participating local dive centres, government agencies, tourism, travel, clubs, service groups, etc., to develop a network of resources for underwater sports &amp; scuba diving in Alberta &amp; around the world.</p>
<p>Please note that those scheduled to speak at Divescapes are subject to last minute travel and work emergencies that are inherent when working with the greatest underwater photography and scuba talent.</p>
</div>
<div class="large-4 columns">

<ul class="large-block-grid-2">
<li><a href="#"><img src="http://placehold.it/180x180&text=Important"/></a></li>
<li><a href="#"><img src="http://placehold.it/180x180&text=Things"/></a></li>
<li><a href="#"><img src="http://placehold.it/180x180&text=Go+Here"/></a></li>
<li><a href="#"><img src="http://placehold.it/180x180&text=For"/></a></li>
<li><a href="#"><img src="http://placehold.it/180x180&text=Emphasis"/></a></li>
<li><a href="#"><img src="http://placehold.it/180x180&text=Repetition"/></a></li>
</ul>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<div class="panel">
<h4>Divescapes 2016</h4>
<div class="row">
<div class="large-9 columns">
<p>Canada's largest and best Scuba Diving Conference and Exhibition. Divescapes is THE place to see top tier speakers and exhibitors, and to attend fun and educational seminars and workshops.</p>
</div>
<div class="large-3 columns">
<a href="/tickets/" class="radius button right">Buy Tickets</a>
</div>
</div>
</div>
</div>
</div>
{{ partial "footer.html" . }}
