{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
{{ partial "slider.html" . }}

<!-- Adding a comment as a test. -->

<!-- 960 Container Start -->
<div class="container">


    <div class="sixteen columns">
      <div style="width:100%;text-align:right;">
      <p><a href="/about/"><img src="/images/logos/auc.jpg" width="300" height="105" align="right" alt="Alberta Underwater Council" / style="width:300px;height:105px;"></a></p>
      </div>
      <p style="margin-top:20px;">The Alberta Underwater Council is proud to present Divescapes 2020 Conference and Exhibition on Oct 23, 24, 2020  at the River Cree Resort & Casino in Edmonton, AB. 
	      
	        
	     <p> With world class presenters, exhibitors, workshops & prizes for the benefit & enjoyment of Alberta & beyond's scuba divers!</p>
      
	    <p>Divescapes 2020 Scuba Conference volunteers are busy now, creating another amazing Divescapes for your enlightenment and education.<p>  
	      
	      <p>Please SAVE THE DATE & join the Divescapes 2020 festivities and help us celebrate AUC's landmark 60th Anniversary and Divescapes' 25th Anniversary in 2020.</p>
	    
      
      <p>Divescapes Conference mandate includes striving to promote safe & environmentally responsible diving and provide all participants with the opportunity to partner with scuba industry organizations like participating local dive centres, government agencies, tourism, travel, clubs, service groups, etc., to develop a network of resources for underwater sports & scuba diving in Alberta &amp; around the world.</p>
    </div>

	<!--Recent Work -->
	<div class="sixteen columns">
		<h4 class="headline">Show Highlights</h4>
	</div>

		<!-- 1/4 Column -->
		<div class="four columns">
				<div class="item-img"><a href="/exhibitors/"><img src="/images/os.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="/exhibitors/">Trade Show</a></h5>
					<p>See the newest gear, show specials and best in dive travel.</p>
				</div>
		</div>

		<!-- 1/4 Column -->
		<div class="four columns">
				<div class="item-img"><a href="/show/speakers/"><img src="/images/speaker.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="/show/speakers/">Speakers</a></h5>
					<p>Excellent Speakers sharing diverse dive stories & experiences.</p>
				</div>
		</div>

		<!-- 1/4 Column -->
		<div class="four columns">
				<div class="item-img"><a href="/show/workshops/"><img src="/images/workshops.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="/show/workshops/">Workshops</a></h5>
					<p>Learn from the best and take courses you can’t easily find anywhere else.</p>
				</div>
		</div>

		<!-- 1/4 Column -->
		<div class="four columns">
			<div class="item-img"><a href="/show/"><img src="/images/dinner.jpg" alt=""/><div class="overlay zoom"></div></a></div>
			<div class="portfolio-item-meta">
				<h5><a href="/show/">Gala Dinner</a></h5>
				<p>Enjoy a terrific buffet dinner while enjoying our Keynote Presenter.</p>
			</div>
		</div>

	<div class="clearfix"></div>

	<!--Info Box Start -->
	<div class="sixteen columns">
		<div class="info-box">
			<div class="info-content">
				<h4>Buy now!</h4>
        <a href="/tickets/" class="button medium yellow" style="float: right;">Get your Tickets here.</a>
				<p style="width:75%;float:left">Divescapes is THE place to see top tier speakers and exhibitors,
          and to attend fun and educational seminars and workshops.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Recent Work End -->

</div>
<!-- 960 Container End -->
{{ partial "footer.html" . }}
